@import url("https://fonts.googleapis.com/css2?family=Prompt:wght@400;500&display=swap");

html {
	height: 100%;
}

body {
	font-family: Avenir, Helvetica, Arial, sans-serif;
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
	margin: 0;
	height: 100%;
	background: #181818;
	display: flex;
	justify-content: center;
	align-items: center;
}

.field {
	display: block;
	box-sizing: border-box;
	width: 90vw;
	margin: 30px auto;
	background: #212121;

	.toggleable {
		&:hover,
		&:active {
			cursor: pointer;
		}
	}

	.draggable {
		&:hover {
			cursor: grab;
		}
		&:active {
			cursor: grabbing;
		}
	}

	text {
		font-family: 'Prompt', sans-serif, "Segoe UI", Tahoma, Geneva, Verdana, sans-serif;
		fill: white;
		font-weight: 500;
		letter-spacing: 0.3px;
		text-transform: uppercase;
		pointer-events: none;
	}
}
